<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @reader.name %>, Hi there!</p>
    <p>
    Your account details<br>
    --------------------------
    </p>
    <p>Name: <%= @reader.name %></p>
    <p>Email: <%= @reader.email %></p>
    <p>
    Message:<br>
    ----------
    </p>
  </body>
</html>
