<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hi there!</p>
    <p>
    --------------------------
    </p>
    <p>New email here</p>
    <p>
    ----------
    </p>
  </body>
</html>
